.award-container {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    inset 0 0 2rem rgba(255, 255, 255, 0.2);
}

.tech-icon {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    inset 0 0 10px rgba(255, 255, 255, 0.2);
}

.award-overview::-webkit-scrollbar {
  width: 5px;
  padding: 1px;
}

/* Track */
.award-overview::-webkit-scrollbar-track {
  background: #151515;
}

/* Handle */
.award-overview::-webkit-scrollbar-thumb {
  background: #0592df;
  border-radius: 10px;
}
