.second-award {
  margin-top: -75px;
}

.award-img {
  box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.4);
}

.award-icon {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.expand-btn {
  box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.3);
}

.preview-text {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: inset 0 0 1rem rgba(255, 255, 255, 0.2);
}

.second-award {
  transform: translateY(-100%);
}

.glow {
  position: absolute;
}

.glow-1 {
  top: 0;
  left: 20%;
  width: 25%;
  height: 10%;
  background: #a906be;
  filter: blur(6.5rem);
  border-radius: 20px;
}

.glow-2 {
  top: 0;
  right: 0;
  width: 300px;
  height: 200px;
  background: #0959e3;
  filter: blur(6rem);
}

.glow-3 {
  top: 550px;
  left: 0;
  width: 400px;
  height: 300px;
  transform: translateX(-50%);
  border-radius: 50%;

  filter: blur(6.5rem);
  opacity: 0.6;
}
