.footer-dark-border {
  border-top: 2px solid rgba(255, 255, 255, 0.05);
}

.footer-light-border {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.footer-content-container {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.social-container-dark {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.2);
}

.social-container-light {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.footer-contact-btn {
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.4);
  transition: 0.5s ease-in-out;
}

.footer-contact-btn:hover {
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.6), 0 0 10px #0a5ed3;
  transition: 0.5s ease-in-out;
}
