.label::after {
  position: absolute;
  content: "";
  inset: 0;
  filter: blur(20px);
}

.portfolio-dark::after,
.portfolio-light::after {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    transparent,
    #60a5fa
  );
}

.concepts-dark::after {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    transparent,
    #1d4ed8
  );
}

.concepts-light::after {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    transparent,
    #0ea5e9
  );
}

.languages-dark::after {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    transparent,
    #c026d3
  );
}
.languages-light::after {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    transparent,
    #d946ef
  );
}

.award::after {
  background: linear-gradient(to bottom, transparent, #fde047);
}

.resum::after::after {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    transparent,
    #0795e1
  );
  z-index: 10;
}
