.filters {
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2),
    inset 0 0 30px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.filters::before {
  position: absolute;
  content: "";
  inset: -5px;
  border-radius: inherit;
  background: linear-gradient(-45deg, #3b82f6, #7c3aed, #d946ef);
  z-index: 1;
  filter: blur(3rem);
}

.filter-text::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.15), transparent);
  filter: blur(10px);
  transition: 0.6s ease-in-out;
  border-radius: inherit;
}

.filter-text:hover::before {
  height: 100%;
  transition: 0.6s ease-in-out;
}

/*
CUSTOM COLOR BOX SHADOW FADING IN FOR THE SELECTED FILTER 
*/

.All {
  animation: fadeInBoxShadowAll 1s forwards;
}
@keyframes fadeInBoxShadowAll {
  from {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: inset 0 0 20px #d946ef;
  }
}

.Fullstack {
  animation: fadeInBoxShadowFullstack 1s forwards;
}

@keyframes fadeInBoxShadowFullstack {
  from {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: inset 0 0 20px #7602be;
  }
}

.Frontend {
  animation: fadeInBoxShadowFrontend 1s forwards;
}

@keyframes fadeInBoxShadowFrontend {
  from {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: inset 0 0 30px #1804cf, inset 0 0 10px rgba(255, 255, 255, 0.3);
  }
}

.Backend {
  animation: fadeInBoxShadowBackend 1s forwards;
}

@keyframes fadeInBoxShadowBackend {
  from {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: inset 0 0 30px #026bb7, inset 0 0 10px rgba(255, 255, 255, 0.3);
  }
}

/* CUSTOM BACKGROUND COLORS FOR EACH TAG */
.Fullstack-tag {
  background: #d946ef;
}

.Frontend-tag {
  background: #7c3aed;
}
.Backend-tag {
  background: #0d06e7;
}
.React\.js-tag {
  background: #5ed3f3;
}
.Next\.js-tag {
  background: rgb(8, 8, 8);
  color: #9b9b9b;
}
.Node\.js-tag {
  background: rgb(80, 153, 65);
}
.Three\.js-tag {
  background: rgb(255, 255, 255);
}
.MySQL-tag {
  background: #d96c22;
}
.MongoDB-tag {
  background: #4eac3d;
}
.Redux-tag {
  background: #7248b6;
}
.Firebase-tag {
  background: rgb(254, 169, 25);
}
.Javascript-tag {
  background: #f7d724;
}
.C\+\+-tag {
  background: rgb(8, 135, 197);
}
.Flask-tag {
  background: #41aec5;
}
.Python-tag {
  background: #3c77a8;
}
.SCSS-tag {
  background: rgb(207, 107, 157);
}
.Tailwind.CSS-tag {
  background: rgb(62, 191, 248);
}
.Java-tag {
  background: rgb(242, 148, 24);
}
.Figma-tag {
  background: rgb(255, 118, 103);
}
.HTML-tag {
  background: #e5532d;
}
.CSS-tag {
  background: rgb(49, 106, 241);
}
.Sanity-tag {
  background: rgb(241, 68, 54);
}
.Framer.Motion-tag {
  background: #7f1cf4;
}
.API-tag {
  background: rgb(25, 79, 180);
}

.project-card-dark {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.project-card-light {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.left-project-btn {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.right-project-btn {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
}
.left-project-btn:hover {
  box-shadow: 0 0 3rem #0ea5e9;
}
.right-project-btn:hover {
  box-shadow: 0 0 3rem #d946ef;
}

.github-btn::before {
  position: absolute;
  content: "";
  inset: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: inherit;
  transition: 0.2s ease-in-out;
}
.github-btn:hover::before {
  inset: 0;
  transition: 0.2s ease-in-out;
}

.read-more-project-btn {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    5px 5px 5px rgba(0, 0, 0, 0.1);
}

.read-more-project-btn:hover {
  transition: 0.5s ease-in-out;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: translateZ(12) scale(1.5);
}
