.title::before {
  position: absolute;
  content: "";
  bottom: 0;
  height: 2px;
  left: 0;
  right: 0;
}

.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 2px;
  left: 20%;
  right: 20%;
  filter: blur(10px);
}
.about-me-before-title-gradient::before {
  background: linear-gradient(
    to right,
    transparent,
    #0ea5e9,
    #1d4ed8,
    #0ea5e9,
    transparent
  );
}
.about-me-after-title-gradient::after {
  background: linear-gradient(to right, #0ea5e9, #1d4ed8, #0ea5e9);
}
